<!DOCTYPE html>
<html>
<head>
    <title>Carros</title>
    <meta charset="UTF-8">
    <link href="/Blog/blog.css" rel="stylesheet">
</head>
<body>
    
  <a href="/back">
        <button type="button">Voltar</button>
  </a>


<% for (var i = 0; i < carros.length; i++) { %>
  <p>Marca: <%= carros[i].marca %></p>
  <p>Modelo: <%= carros[i].modelo %></p>
  <p>Ano: <%= carros[i].ano %></p>
  <p>Quantidade Disponível: <%= carros[i].qnt %></p>

  <form action="/removecarro" method="post">
    <input type="hidden" name="id" value="<%= carros[i]._id %>">
    <button type="submit">Remover</button>
  </form>

  <br>
<% } %>